<div class="homepage-container">
  <div class="news" *ngFor="let item of newsContainer">
    <img src="{{item.imgUrl}}">
    <div class="text">
      <a [routerLink]="['/recipe/' + item.id]">{{item.title}}</a>
      <p>{{item.description}}</p>
      <a></a>
    </div>
  </div>
</div>
