.homepage-container {
  width: 80vw;
  max-width: 1920px;
  margin: auto;
  background-color: whitesmoke;
  min-height: 90vh;

  .news {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    img {
      display: inline-block;
      width: 50%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    .text {
      width: 50%;
      box-sizing: border-box;
      padding: 0 20px;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      a {
        font-size: 36px;
        margin: 10px 0;
        text-decoration: none;
        color: black;

        &:hover {
          color: gray;
        }
      }

      p {
        font-size: 22px;
      }
    }
  }
}
