<div class="recipe-container">
  <div class="ingredients">
    <img src="{{pageContent?.imgUrl}}">
    <ul>
      <li *ngFor="let item of pageContent?.ingredients">{{item.productName}} - {{item.amount}}</li>
    </ul>
  </div>
  <h2>{{pageContent?.title}}</h2>
  <p>
    {{pageContent?.description}}
  </p>
  <p>
    {{pageContent?.steps}}
  </p>
</div>
