.recipe-container {
  width: 80vw;
  margin: auto;
  background-color: whitesmoke;
  min-height: 90vh;
  margin-bottom: 10vh;

  .ingredients {
    padding: 10% 10% 0;
    display: flex;

    ul {
      font-size: 2vw;
      padding-left: 5%;
      display: inline-block;
    }

    img {
      display: inline-block;
      width: 55%;
      object-fit: contain;
      border: 1px solid black;
    }
  }

  h2 {
    font-size: 2.2rem;
    padding: 5% 5% 0;
    margin: auto;
  }

  p {
    padding: 2% 0 2%;
    width: 90%;
    font-size: 1.6rem;
    margin: auto;

    p:first-of-type {
      padding: 5% 0 2%;
    }

    p:last-of-type {
      padding: 0 0 5%;
      margin-bottom: 10vh;
    }
  }
}
