.navbar-container {
  width: 80vw;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;

  nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 0;

    a {
      text-decoration: none;
      font-size: 24px;
      color: white;
      //background-color: wheat;
      //padding: 7px 20px;
      border-radius: 20px;

      &:hover {
        color: wheat;
      }
    }
  }


  .logo {
    width: 100%;
    height: 300px;
    background-image: url("../../../assets/img/logo.jpg");
    background-size: cover;
  }
}
