<div class="navbar-container">
  <div class="logo"></div>
  <nav>
    <a href="">Strona główna</a>
    <a [routerLink]="['/find-recipe']">Znajdz przepis</a>
    <!--<a href="">Dodaj produkt</a>-->
    <!--<a href="">Dodaj przepis</a>-->
    <a [routerLink]="['contact']">Kontakt</a>
  </nav>
</div>
