/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

body {
  font-family: 'Playfair Display', serif;
  font-size: 62.5%;
}

// TODO - refactor styli bo bida
// TODO - ogarniecie nazewnictwa
// TODO - RWD
