.find-recipe-container {
  width: 80vw;
  margin: 0 auto 100px;
  background-color: whitesmoke;
  height: auto;
  padding-bottom: 30px;

  .product-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding-top: 2rem;
  }

  .product-list {
    width: 40%;
    max-height: 700px;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: scroll;
    position: relative;

    .h3 {
      position: absolute;
    }
  }

  .choosen-product-list {
    width: 40%;
    max-height: 700px;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: scroll;

    p {
      text-align: center;
      font-size: 1.4rem;
    }
  }

  .field {
    // border: 1px solid black;
    position: relative;
    margin: 10px 0;
    padding: 0 10px;
    height: 30px;
    font-size: 24px;

    .symbol {
      border:1px solid black;
      width: 20px;
      height: 20px;
      color: black;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;

      &:hover {
        background-color: #46d39a;
      }
    }

    .symbol-cross {
      font-size: 15px;

      &:hover {
        background-color: #ff5e46;
      }
    }
  }



  .find-button {
    width: 87%;
    margin: 2rem auto;
    display: block;
    height: 3rem;
  }

  .result-links-container {
    width: 87%;
    min-height: 200px;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto 30px;

    p {
      font-size: 24px;
    }

    .small {
      font-size: 12px;
      padding-left: 10px;
      line-height: 10px;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: lightsalmon;
      }
    }

    .field:nth-child(odd) {
      background-color: lightgray;
    }
  }

  .field-expanded {
    display: flex;
  }
}
