<div class="find-recipe-container">
  <div class="product-container">
    <div class="product-list">
      <div class="field" *ngFor="let item of productList">
        {{item.name}}
        <div class="symbol" (click)="addElement(item)">+</div>
      </div>
    </div>
    <div class="choosen-product-list">
      <p *ngIf="rest.length <= 0">Dodaj elementy z listy obok i naciśnij "Znajdź przepis"</p>
      <div class="field" *ngFor="let item of rest; let i = index">
        {{item.name}}
        <div class="symbol symbol-cross" (click)="deleteElement(i)">&#x2715;</div>
      </div>
    </div>
  </div>
  <button class="find-button" (click)="find()">Znajdz przepis</button>
  <div class="result-links-container" >
    <p *ngIf="result?.length <= 0">Nie znaleziono przepisu</p>
    <p *ngIf="result?.length > 0">Znalezione przepisy</p>
      <div class="field field-expanded" *ngFor="let item of result">
        <a [routerLink]="['/recipe/' + item.recipe.id]">{{item.recipe.title}}</a> <p class="small">Trafność: {{item.relevancy}}</p>
      </div>
  </div>
</div>
